@use "../scss/mixin" as m;

.contact {
    margin: 150px 0;
  
    @include m.mq(sm) {
        margin: 80px 0;
    }
}
.contact-title,
.contact-subtext {
    text-align: center;
}

.link-items {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @include m.mq(sm) {
        margin: 40px 0;
    }

    .link-item {
        padding-left: 40px;
        padding-top: 12px;
        font-size: 24px;

        @include m.mq(sm) {
            font-size: 18px;
            padding-left: 20px;
        }
    }

    .link-item a:hover {
        color: #A3DDE0;

    }

    li.link-item:nth-child(1) {
        padding-left: 0; 
    }
}
