@use "../scss/mixin" as m;

footer {
    margin: 0 auto;
    width: 100%;
    vertical-align: bottom;
    img {
        max-width: 100%;
        vertical-align: bottom;
    }

    .footer-design {
        position: relative;
        text-align: center;
    }

    .copy-light {
        position: absolute;
        left: 50%;
        bottom: 8px;
        transform: translatex(-50%);
        text-align: center;
        font-size: 16px;
    
        @include m.mq(lg) {
            font-size: 14px;
        }
    
        @include m.mq(md) {
            font-size: 12px;
        }
    }
}