@use "../scss/mixin" as m;

header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;

    @include m.mq(md) {
        height: 60px;
    }
}

.header-inner {
    padding: 60px;
    display: flex;
    align-items: center;
    width: 100%;

    @include m.mq(md) {
        padding: 16px;
    }
}

.header-log {
    z-index: 2;
    font-size: 24px;
    
    @include m.mq(lg) {
        font-size: 20px;
    }

    @include m.mq(md) {
        font-size: 18px;
    }

    @include m.mq(sm) {
        font-size: 16px;
        
    }
}

.header-right {
    margin-left: auto;
    display: flex;

    @include m.mq(md) {
        display: none;
    }
}

.header-nav-items {
    margin-left: auto;
    display: flex;
    .header-nav-item {
        padding-left: 60px;
        text-align: right;
        @include m.mq(lg) {
            padding-left: 40px;
        }
        .header-nav-item:nth-child(1) {
            padding-left: 0;
        }
    }
    .header-nav-item a:hover {
        color: #F6BBB3;
    }
}

.sns-icon {
    margin-left: 60px;

    .sns-icon a:hover {
        color: #F6BBB3;
    }
}


.navbar {
    display: none;

    @include m.mq(md) {
        display: block;
        margin-left: auto;
    }
}

// ハンバーガーメニュー
.hamburger-menu {
    display: none;
    @include m.mq(md) {
        display: block;
    }
    @include m.mq(sm) {
        z-index: 1;
    }
}

// bar部分
.hamburger-bar {
    width: 35px;
    height: 25px;
    position: relative;
    position: fixed;
    top: 16px;
    right: 16px;

    @include m.mq(sm) {
        width: 25px;
        height: 15px; 
    }
    
    span {
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: #000;
        border-radius: 2px;
    }

    span:first-of-type {
        top: 0;
    }

    span:nth-of-type(2) {
        top: 50%;
    }

    span:last-of-type {
        top: 100%
    }
}

// 開いているときのコンテンツ部分
.hamburger-nav-items {
    background-color: #FFF;
    position: fixed;
    top: 0;
    width: 40%;
    right: 0;
    z-index: -1;
    transform: translateX(100%);
    .hamburger-nav-item {
        padding: 30px 0;
        text-align: center;

        @include m.mq(sm) {
            padding: 20px 0;
        }
    }
    .hamburger-nav-item:nth-child(1) {
        padding-top: 60px;
    }
}

// ハンバーガーメニュー開閉時追加
.action {
    span:first-of-type {
        top: 50%;
        transform: rotate(45deg);
    }
    
    span:nth-of-type(2) {
        opacity: 0;
    }
    
    span:last-of-type {
        top: 50%;
        transform: rotate(-45deg);
    } 
}

.action-content {
    transform: translateX(0);
}
