@use "../scss/mixin" as m;

header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;

    @include m.mq(md) {
        height: 60px;
    }
}

.header-inner {
    padding: 60px;
    display: flex;
    align-items: center;
    width: 100%;

    @include m.mq(md) {
        padding: 16px;
    }
}

.header-log {
    font-size: 24px;

    @include m.mq(lg) {
        font-size: 20px;
    }

    @include m.mq(md) {
        font-size: 18px;
    }

    @include m.mq(sm) {
        font-size: 16px;
    }
}

.header-right {
    margin-left: auto;
    display: flex;

    @include m.mq(md) {
        display: none;
    }
}

.header-nav-items {
    margin-left: auto;
    display: flex;
    .header-nav-item {
        padding-left: 60px;
        text-align: right;
        @include m.mq(lg) {
            padding-left: 40px;
        }
        .header-nav-item:nth-child(1) {
            padding-left: 0;
        }
    }
    .header-nav-item a:hover {
        color: #24502C;
    }
}

.sns-icon {
    margin-left: 60px;
}

.navbar {
    display: none;

    @include m.mq(md) {
        display: block;
        margin-left: auto;
    }
}


