@use "../scss/mixin" as m;

.main-visual {
    z-index: 1;
    img {
        width: 100%;
        max-height: 650px;
        @include m.mq(md) {
            max-height: 400px;
        }
    }

    .log {
        position: absolute;
        top: 25%;
        left: 50%;
        margin: 0;
        padding: 0;
        width: 500px;
        height: 500px;
        transform: translateX(-50%);
        z-index: 1;
        img {
            z-index: 1;
            width: 100%;
        }
    }

    h2 {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        padding: 0;
        transform: translate(-50%, 20%);
        @include m.mq(lg) {
            font-size: 40px;
            transform: translate(-100%,-50%);
        }
        @include m.mq(md) {
            font-size: 24px;
            transform: translate(-120%,-50%);
        }
        @include m.mq(sm) {
            font-size: 18px;
            transform: translate(-80%,-30%);
        }
    }
}

.main-visual-wave {
    width: 100%;
    position: absolute;
    max-height: 540px;
    height: 100%;
    top: 30%;
    left: 0;
    z-index: -2;
    padding: 0;
    margin: 0;
    // transform: translateY(-10%);
}
