@use "../scss/mixin" as m;

.ui-main-right {
    background: #00BFA6;
}

.uiux-img-flex {
    display: flex;
    width: 100%;
    .uiux-img-left {
        width: 40%;
        img {
            width: 100%;
            height: auto;
        }
    }

    .uiux-img-right {
        width: 40%;
        margin-left: 10%;
        img {
            width: 100%;
            height: auto;
        }
    }
}