@use "../scss/mixin" as m;

.works {
    margin: 150px 0;

    @include m.mq(sm) {
        margin: 80px 0;
    }
}

.but-site {
    color: red;
    font-weight: bold;
}

.works-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include m.mq(sm) {
        display: block;
        flex-wrap: nowrap;
    }
    .works-item {
        margin-left: 20px;
        width: 300px;
        height: 250px;
        background: #111;
        border-radius: 10px;
       
        @include m.mq(md) {
            margin: 60px auto 0px auto;
            text-align: center;
        }
        img {
            border-radius: 10px;
            width: 100%;
            height: auto;
            object-fit:cover;
            cursor: pointer;
        }

         img:hover {
            opacity:0.5;
	        transition:0.3s;
        }
    }

     li.works-item:nth-child(1) {
        @include m.mq(sm) {
            margin-top: 0;
        }
     }

     li.works-item:nth-child(3) {
        @include m.mq(lg) {
            margin-top: 80px;
       }
    }

     li.works-item:nth-child(4) {
        margin-top: 80px;
     }

     li.works-item:nth-child(5) {
        margin-top: 80px;
     }
     li.works-item:nth-child(6) {
    }
}

.works-items::after {
    display: block;
    content: '';
    width: 320px;
}


.daily-ui-title {
    font-size: 32px;
    margin: 80px 0 20px 0;

    @include m.mq(md) {
        font-size: 24px;
    }
}

.splide {
    z-index: -1;
}

.splide__list {
    img {
        width: 300px;
    }
}

.daily-ui-link {
    text-align: right;
}


