@use "../scss/mixin" as m;

.works {
    margin: 200px 0;

    @include m.mq(lg) {
        margin: 150px 0;
    }

    @include m.mq(sm) {
        margin: 80px 0;
    }
}

.works-items {
    display: flex;
    flex-wrap: wrap;

    @include m.mq(sm) {
        display: block;
        flex-wrap: nowrap;
    }

    .works-item {
        margin-left: 20px;
        margin-top: 80px;
        
        @include m.mq(md) {
            margin: 60px auto 0 auto;
            text-align: center;
        }
        img {
            width: 350px;
            height: auto;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
            @include m.mq(sm) {
                width: 90%;
            }
        }

        img:hover {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
            transform: translateY(-0.1875em);
        }
    }

    li.works-item:nth-child(1) {
        margin-left: 0px;
    }

    li.works-item:nth-child(3) {
        @include m.mq(lg) {
            margin-left: 0px;
        }
    }

    li.works-item:nth-child(4) {
        margin-left: 0;
        @include m.mq(lg) {
            margin-left: 20px;
        }
    }

    li.works-item:nth-child(5) {
        @include m.mq(lg) {
            margin-left: 0px;
        }
    }
}


.daily-ui-title {
    font-size: 32px;
    margin-top: 80px;

    @include m.mq(md) {
        font-size: 24px;
    }
}

.splide__list {
    img {
        width: 300px;
    }
}