@use "../scss/mixin" as m;

.works {
    margin: 200px 0;

    @include m.mq(lg) {
        margin: 150px 0;
    }

    @include m.mq(sm) {
        margin: 80px 0;
    }
}

.works-items {
    display: flex;
    flex-wrap: wrap;

    @include m.mq(sm) {
        display: block;
        flex-wrap: nowrap;
    }

    .works-item {
        margin-left: 20px;
        margin-top: 80px;
        @include m.mq(md) {
            margin: 60px auto 0 auto;
            text-align: center;
        }
        img {
            width: 350px;
            height: auto;
            @include m.mq(sm) {
                width: 90%;
            }
        }
    }

    li.works-item:nth-child(1) {
        margin-left: 0px;
    }

    li.works-item:nth-child(3) {
        @include m.mq(lg) {
            margin-left: 0px;
        }
    }

    li.works-item:nth-child(4) {
        margin-left: 0;
        @include m.mq(lg) {
            margin-left: 20px;
        }
    }

    li.works-item:nth-child(5) {
        @include m.mq(lg) {
            margin-left: 0px;
        }
    }
}

.daily-ui-title {
    font-size: 32px;
    margin-top: 80px;

    @include m.mq(md) {
        font-size: 24px;
    }
}

.splide__list {
    img {
        width: 300px;
    }
}