.about {
    display: flex;
    margin: 200px 0;
}

.about-left {
    width: 50%;
}

.about-right {
    width: 50%;
    text-align: right;
    img {
        width: 90%;
    }
}

.about-text {
    padding-top: 20px;
}

.about-sub-title {
    font-size: 32px;
    padding-top: 30px;
}

.skill-details {
    padding-top: 12px;
}
