.contact {
    margin: 200px 0;
}
.contact-title,
.contact-subtext {
    text-align: center;
}

.link-items {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    .link-item {
        padding-left: 40px;
        padding-top: 12px;
    }
    li.link-item:nth-child(1) {
        padding-left: 0; 
    }
}
