.contact {
    margin: 100px 0;
}
.contact-title,
.contact-subtext {
    text-align: center;
}

form {
    max-width: 960px;
    width: 70%;
    margin: 80px auto 0 auto;
    label {
        font-size: 20px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        display: block;
        width: 100%;
    }
    ::placeholder {
        padding: 10px;
    }
    input {
        height: 56px;
    }
    textarea {
        height: 300px;
    }
    .name,
    .email {
        margin-bottom: 40px;
    }
}
