@use "../sass/header";
@use "../sass/main_visual";
@use "../sass/about";
@use "../sass/works";
@use "../sass/blog";
@use "../sass/contact";
@use "../sass/_footer.scss";
@use "../sass/mixin";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Helvetica Neue","Segoe UI","Arial","Roboto","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style: none;
}

.content-inner {
    max-width: 1100px;
    margin: 0 auto;
}

h3 {
    font-size: 48px;
}

.between-img1 {
    img {
        width: 100%;
        height: 300px;
    }
}
